html,body
{
height: 100%;
width: 100%;
}
.button
{
font-family: 'Times New Roman';
padding: 20px;
margin: 0px 3px;
border: 2px solid black;
border-radius: 9px;
cursor: pointer;
width: 55px;
}
.button:hover
{
background-color: darkblue;
color: gold;
}
.row
{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 7px 0px;
}
.row input
{
    font-size: 15px;
    border: 2px solid black;
    margin: 0px;
    padding: 15px 20px;
    border-radius: 5px;
}
